* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

option {
    font-size: 16px;
}

select {
    font-size: 16px;
}

@font-face {
    font-family: 'EuclidCircularA';
    src: url('../fonts/EuclidCircularA-Regular.woff2') format('woff2'), url('../fonts/EuclidCircularA-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircularA';
    src: url('../fonts/EuclidCircularA-Medium.woff2') format('woff2'), url('../fonts/EuclidCircularA-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircularA';
    src: url('../fonts/EuclidCircularA-Bold.woff2') format('woff2'), url('../fonts/EuclidCircularA-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:root {
    --black: #000;
    --white: #fff;
    --flame-pea: #DD5846;
    --bay-leaf: #79B285;
    --pale-green: rgba(121, 178, 133, 0.08);
    --mercury: #E1E1E1;
}

body {
    margin: auto;
    font-family: 'EuclidCircularA', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black);
    max-width: 1440px;
    background-color: var(--white);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
}

p {
    margin: 0;
}

input {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}


.btn {
    font-size: inherit;
    font-family: inherit;
    color: var(--black);
    background-color: transparent;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    padding: 0;
    /*line-height: 24px;*/
    /*display: block;*/
}

.btn--step {
    background-color: var(--mercury);
    padding: 10px 28px;
    border: 2px solid transparent;
    border-radius: 32px;
}

.btn--step-active {
    background-color: var(--pale-green);
    border: 2px solid var(--bay-leaf);
}

.btn--big {
    display: block;
    color: var(--white);
    background-color: var(--bay-leaf);
    padding: 12px 28px;
    margin: 0 auto;
}

.btn--next {
    color: var(--white);
    background-color: var(--bay-leaf);
    padding: 12px 60px;
}

.btn--back {
    color: var(--black);
    background-color: var(--pale-green);
    border: 2px solid var(--bay-leaf);
    padding: 12px 63px;
}

/*
.btn--form {
    color: var(--white);
    background-color: var(--bay-leaf);
    border-radius: 5px;
    padding: 16px 35px;
}*/

.title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.title--big {
    font-size: 36px;
    text-align: center;
    line-height: 56px;
    font-weight: 500;
}

.title--green {
    color: var(--bay-leaf);
    text-align: center;
}

.title--wranning {
    font-weight: 400;
    color: var(--flame-pea);
    min-height: 30px;
    padding-left: 40px;
    background-image: url(../img/icon/wranning.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    background-size: 29px 29px;
}

.title--request {
    font-weight: 400;
    color: var(--black);
    min-height: 30px;
    padding-left: 40px;
    background-image: url(../img/icon/request.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    background-size: 29px 29px;
}

.link {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

.link--question {
    font-size: 20px;
    color: var(--bay-leaf);
    min-height: 30px;
    padding-left: 40px;
    background-image: url(../img/icon/question.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    background-size: 29px 29px;
    margin-bottom: 30px;
}

.application-right__example {
    display: flex;
}

.application-right__example img {
    cursor: zoom-in;
    width: 50%;
}

.modal_validation_errors {
    padding: 0px 20px;
    max-height: 550px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link--form {
    color: var(--white);
    background-color: var(--bay-leaf);
    border-radius: 5px;
    height: 60px;
    padding: 20px 35px;
}

.link--home {
    display: inline-block;
    color: var(--white);
    background-color: var(--bay-leaf);
    border-radius: 32px;
    padding: 12px 25px;
}

.link--nav {
    font-size: 16px;
    font-weight: 500;
}

.link--nav:hover {
    color: var(--bay-leaf);
}



.link--epts {
    border: 2px solid var(--bay-leaf);
    border-radius: 32px;
    padding: 12px 25px;
}

/*--header--*/
.header {
    max-width: 1110px;
    padding: 0 20px 0;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
}


.logo {}

.heder__nav {
    margin: 0 auto;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {}

.nav__item:not(:last-child) {
    margin-right: 30px;
}

.header__phone {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header__phone svg {
    margin-right: 10px;
}

.header__epts {}



/*----main----*/
.container {
    max-width: 1110px;
    padding: 50px 20px 0;
    margin: 0 auto 100px;
}

/*----menu-step----*/
.step {
    margin-bottom: 70px;
}

.step__title {
    margin-bottom: 50px;
}

.step__list {
    display: flex;
    justify-content: center;
    /*margin-bottom: 70px;*/
}

.step__item {}

.step__item:not(:last-child) {
    margin-right: 30px;
}

/*---form---*/

.form {
    /*margin-bottom: 50px;
    outline: 3px solid grey;*/
}

.form__title {
    /*margin-bottom: 50px;*/
    margin-bottom: 35px;

}

.form__top {
    /*outline: 3px solid yellow;*/
    margin-bottom: 30px;
}

.form__center {
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 50px;*/
    margin-bottom: 30px;
}

.form__left {
    width: 48%;
    /* outline: 3px solid blue;*/
}

.form__left-full {
    width: 100%;
}

.form__right {
    width: 48%;
    /*outline: 3px solid green;*/
}

.form__bottom {
    display: flex;
    justify-content: space-between;
}

.form__item {
    margin-bottom: 20px;
}

.example__button {
    cursor: pointer;
    color: var(--bay-leaf);
    border-radius: 5px;
    padding: 2px 5px;
    border: 1px solid var(--bay-leaf);
    font-size: 14px;
    display: none;
}

.form__name {
    margin-bottom: 20px;
}

.form__input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*---inputs---*/

.input {
    width: 100%;
    height: 60px;
    padding: 18px 25px;
    background-color: var(--pale-green);
    border: none;
    border-radius: 5px;
}

.input:not(:last-child) {
    margin-bottom: 15px;
}

.input--l {
    width: 65%;
}

.input--s {
    width: 48%;
}

.input--xs {
    width: 30%;
}



/*--application--*/
.application {

    margin-bottom: 50px;
}

/*
.application__step {
    margin-bottom: 70px;
}*/


.application-left__item {
    max-width: 505px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 65px 65px;
    padding: 5px 0 0 100px;
    margin-bottom: 45px;
}

.one {
    background-image: url(../img/one.svg);
}

.two {
    background-image: url(../img/two.svg);
}

.three {
    background-image: url(../img/three.svg);
}

.four {
    background-image: url(../img/four.svg);
}

.five {
    background-image: url(../img/five.svg);
}

.application-left__title {
    margin-bottom: 8px;
}

.text {
    font-size: 14px;
    line-height: 18px;
}

.application-right__title {
    margin-bottom: 15px;
}

.application-right__list {
    list-style: disc;
    color: var(--flame-pea);
    padding-left: 60px;
    margin-bottom: 30px;
}


/*---step-one---*/
.step-one {
    margin-bottom: 50px;
}

/*.step-one__step {
    margin-bottom: 50px;
}*/
/*
.form__fiz,
.form__jur {
    margin-bottom: 50px;
}*/

.face-fiz {
    display: none;
}

.face-jur {
    display: none;
}

.face-active {
    display: block;
}

/*---step-two---*/
/*.step-two__step {
    margin-bottom: 70px;
}*/

.step-two {
    margin-bottom: 50px;
}

/*---step-three---*/
.step-three {
    margin-bottom: 50px;
}

/*.step-three__step {
    margin-bottom: 70px;
}*/

.request {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.request__title {
    margin-bottom: 15px;
}

.request__list {
    list-style: disc;
    color: var(--black);
    padding-left: 60px;
}

.text--request {
    font-size: 16px;
    line-height: 21px;
}

.link--request {
    color: var(--white);
    background-color: var(--bay-leaf);
    border-radius: 5px;
    padding: 20px 35px;
}







.input__wrapper {
    position: relative;
    width: 100%;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;

}

.input__file-icon-wrapper {
    height: 100%;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input__file-button-text {
    display: none;
}

.input__file-button {
    width: 100%;
    height: 90px;
    background-color: var(--pale-green);
    color: var(--black);
    font-size: inherit;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin: 0 auto;
}

.text--grey {
    color: #7B7B7B;
    font-size: 12px;
}

.text--done {
    display: block;
}

.done {
    display: none;
    margin-left: auto;
}

.done--active {
    display: flex;
}


.photo {}

.photo__name {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.photo__list {
    border-left: 1px solid var(--bay-leaf);
}

.photo__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 27px 0 0 0;
}

.item-sts {
    padding: 15px 0 0 0;
    border-bottom: 1px solid var(--bay-leaf);
}

.item-car {
    padding: 35px 0 35px 0;
    border-bottom: 1px solid var(--bay-leaf);
}

.photo__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 160px;
    height: 225px;
    box-shadow: 2px 2px 2px rgba(199, 199, 199, 0.25);
    margin: 0 15px 40px 0;
    cursor: pointer;
}

.photo__img {
    display: block;
    width: 100%;
}

.photo__wrapper svg {
    position: absolute;
    margin: 0 0 0 0;
}

/*---step-four---*/
.step-four {
    margin-bottom: 50px;
}

/*.step-four__step {
    margin-bottom: 70px;
}*/

.form__sum {
    margin-bottom: 50px;
}

.sum__title {
    margin-bottom: 10px;
}

.sum__price {
    margin-bottom: 30px;
}

.price {
    display: block;
    font-size: 26px;
    font-weight: 700;
    color: var(--bay-leaf);
}

.form__pay {
    margin-bottom: 50px;
}

.pay__title {
    margin-bottom: 20px;
}

.pay_list {}

.pay__item:not(:last-child) {
    margin-bottom: 25px;
}

/*---step-five---*/
/*.step-five__step {
    margin-bottom: 70px;
}*/

.form svg {
    display: block;
    margin: 0 auto 40px auto;
}

.text__finish {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 35px;
}

.home {
    text-align: center;
}

.footer {
    max-width: 1110px;
    padding: 50px 20px 100px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--bay-leaf);
    padding-bottom: 25px;
}

.footer__logo {
    margin-right: auto;
}

.footer__title {
    margin-right: 30px;
}

.btn--order {
    background-color: var(--bay-leaf);
    color: var(--white);
    padding: 12px 25px;
}

.btn--order a {
    color: var(--white);
    text-decoration: none;
}

.text--big {
    font-size: 22px;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
}

.footer__item:not(:last-child) {
    margin-bottom: 20px;
}

.footer__link {
    font-size: 17px;
    font-weight: 600;
}




.burger__menu {
    display: none;
    position: absolute;
    z-index: 20;
    top: 75px;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
    background-color: var(--bay-leaf);
    color: var(--white);
}



.burger__menu-active {
    transform: none;
}

.burger__list {}

.burger__item {

    margin-bottom: 15px;
    padding: 5px 5px 5px 10px;
}


.burger__link {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.header__burger-button {
    display: none;
    height: 23px;
    width: 30px;
}

.disabled {
    background-color: #c2c2c2;
}

.header__burger-button:focus {
    outline-offset: 5px;
}

.burger {
    width: 30px;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.burger .line {
    width: 100%;
    height: 3px;
    background-color: #000;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    position: relative;
    right: 0px;
}

.burger-active .line {
    background-color: var(--bay-leaf);
}

.burger-active .line:nth-child(2) {
    width: 80%;
}

.burger-active .line:nth-child(3) {
    width: 50%;
}


.form-group {
    display: block;
    margin-bottom: 15px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--bay-leaf);
    border-radius: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid var(--bay-leaf);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #79B285FF;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (max-width:1023px) {

    .heder__nav {
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .header__phone {
        margin-right: 0;
    }

    .link--epts {
        display: none;
    }

    .header__burger-button {
        display: block;
        margin-right: 150px;
    }

    .burger__menu {
        display: block;
    }

    .step__list {
        justify-content: space-between;
    }

    .step__item:not(:last-child) {
        margin: 0;
    }

    .input--l {
        width: 60%;
    }

    .link--form {
        padding: 20px 25px;
    }

    .photo__wrapper {
        width: 150px;
    }
}

@media (max-width:767px) {
    body {
        font-size: 14px;
    }
    .photo__new {
        display: none;
    }
    .form__input {
        display: block;
    }

    .container {
        max-width: 1110px;
        padding: 10px 10px 0;
        margin: 0 auto 65px;
    }


    .header__burger-button {
        margin: 0;
    }

    .step {
        margin-bottom: 25px;
    }

    .step__title {
        margin: 0;
    }

    .title {
        font-size: 14px;
    }

    .title--big {
        font-size: 26px;
    }

    .title--wranning {
        background-size: contain;
        min-height: auto;
        padding-left: 30px;
    }

    .application-right__title {
        margin-bottom: 5px;
    }

    .link--question {
        font-size: 16px;
        background-size: contain;
        min-height: auto;
        padding-left: 30px;
    }

    .step__list {
        display: none;
    }

    .form__center {
        display: block;
    }

    .form__left, .form__right {
        width: 100%;
    }

    .application-left__item {
        margin-bottom: 30px;
    }

    .input {
        height: 50px;
        padding: 10px 15px;
    }

    .input--s {
        width: 100%;
    }

    .input--l {
        width: 100%;
    }

    .input--xs {
        width: 100%;
    }

    .link--form {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form__name {
        margin-bottom: 10px;
    }

    .btn--next, .btn--back {
        padding: 15px 40px;
    }

    .request {
        display: block;
    }

    .request__info {
        margin-bottom: 10px;
    }

    .title--request {
        background-size: contain;
        min-height: auto;
        padding-left: 30px;
    }

    .request__list {
        padding-left: 40px;
    }

    .text--request {
        font-size: 14px;
    }

    .link--request {
        text-align: center;
        padding: 15px 35px;
    }

    .input__file-button {
        height: 70px;
    }

    .photo {
        display: none;
    }

    .text__finish {
        font-size: inherit;
    }


    .footer__logo {
        width: 100%;
        text-align: center;
    }

    .text--big {
        font-size: 16px;
    }

    .footer__title {
        margin: 0;
    }

    .footer-top {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer__list {
        margin: 0 20px 25px 0;
    }

    .footer__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .example__button {
        display: inline;
    }
}
